---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Julien Fabregoule" description=" ">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title" id="s1-about">Background</h2>
				<div class="content">
					<p id="s1-p1-about"> </p>
					<p id="s1-p2-about"> </p>
					<p id="s1-p3-about"> </p>
				</div>
			</section>
			<section>
				<h2 class="section-title" id="s2-about">Education</h2>
				<div class="content">
					<p id="s2-p1-about"> </p>
					<p id="s2-p2-about"> </p>
					<p id="s2-p3-about"> </p>
				</div>
			</section>
			<section>
				<h2 class="section-title" id="s3-about">Skills</h2>
				<div class="content">
					<p id="s3-p1-about">officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>

<script type="module" is:inline>

    const translations = {
        en: {
		title: "About",
		tagline: "Thanks for stopping by. Read below to learn more about myself and my background.",
        s1about: "Background",
		s1p1about: "From an early age, video games have always held a special place in my life, with Minecraft serving as the gateway at the age of 10. This initial experience opened the doors to the world of computing, and I quickly became curious about what was happening behind the screen.",
		s1p2about: "At 12, this curiosity led me to join the Garry’s Mod community, where I began developing my first game modes in LUA. This allowed me to discover the joy of creating rich and engaging worlds for players.",
		s1p3about: "This creative environment marked the beginning of my journey into game development.",
		s2about: "Education",
		s2p1about: "My academic path took a decisive turn in high school when I chose the Computer Science option (ISN) as part of my scientific baccalaureate. It was during this time that I first encountered C and C++ and realized their limitless potential. I also discovered Unity for the first time, creating 2D game prototypes by drawing from the vast resources available online.",
		s2p2about: "After high school, I enrolled at EPITA, a computer engineering school, before turning to 42, an institution with an innovative peer-to-peer learning approach. Working alongside other students, I built a solid foundation in C programming, which later allowed me to advance smoothly in C++ and C#.",
		s2p3about: "Finally, I joined Gaming Campus at G.Tech, where I had the opportunity to apply these skills on real-world, ambitious projects and to further develop my creative mindset. This continues to drive me to bring to life worlds that, one day, may captivate players as much as certain games have captivated me.",
		s3about: "Skills",
		s3p1about: "Throughout my journey, I have developed solid expertise in various programming languages, notably C, C++, and C#. My experience with Unity has deepened through numerous projects, particularly in real-time 3D and DirectX12. These skills allow me to contribute effectively to the creation of innovative video games while continuously pushing the boundaries of my technical abilities.",
		callToActionLong: "Interested in working together or testing some of my work ?",
		footerText: "Designed & Developed in Lyon",
		footerCopyright: "2024 Julien Fabregoule"
        },
        fr: {
		title: "A propos",
		tagline: "Merci de votre visite ! Prenez un moment pour découvrir mon parcours et en apprendre davantage sur moi.",
		s1about: "Parcours",
		s1p1about: "Depuis mon plus jeune âge, le monde du jeu vidéo a toujours revêtu une place particulière dans ma vie, avec Minecraft comme porte d'entrée à l’âge de 10 ans. Ce premier contact m'a ouvert les portes du monde de l'informatique, et très vite, j’ai voulu comprendre ce qu’il se passait derrière mon écran.",
		s1p2about: "À 12 ans, cette curiosité m’a poussé à rejoindre la communauté Garry’s Mod où j’ai commencé à développer mes premiers modes de jeux en LUA découvrant ainsi le plaisir de créer de ses mains des univers riches et intéressants pour le joueur.",
		s1p3about: "Cet environnement créatif a été le point de départ de mon voyage dans le développement de jeux vidéo.",
		s2about: "Etudes",
		s2p1about: "Mon parcours académique a pris une tournure décisive au lycée, lorsque j’ai choisi l’option ISN (Informatique et Sciences du Numérique) dans le cadre de mon bac scientifique. C’est à ce moment-là que j’ai découvert le C et le C++ ainsi que leur potentiel infini. C’est également à ce moment-là que j’ai découvert Unity pour la première fois en réalisant des prototypes de jeux 2D en puisant dans les ressources qu’Internet mettait à ma disposition.",
		s2p2about: "Après le bac, j’ai intégré EPITA, une école d’ingénierie informatique, avant de me tourner vers l’école 42 pour son approche pédagogique innovante, basée sur l’apprentissage par les pairs. Au contact des autres élèves, j’ai pu me construire des bases de programmations solides en langage C me permettant par la suite de progresser sereinement en C++ et C#.",
		s2p3about: "Enfin, j’ai rejoint le Gaming Campus à l’école G.Tech, où j’ai eu l’opportunité de mettre en pratique ces acquis sur des projets concrets et ambitieux et de développer mon esprit créatif, me motivant toujours plus à travailler pour donner vie à des univers qui pourront, peut être un jour, émerveiller comme certains jeux m’ont émerveillé.",
		s3about: "Compétences",
		s3p1about: "Au fil de mon parcours, j’ai développé une expertise solide dans plusieurs langages de programmation, notamment en C, C++, et C#. Mon expérience sur Unity s’est particulièrement enrichie au travers de nombreux projets, notamment en 3D temps réel et en DirectX12. Ces compétences me permettent aujourd'hui de contribuer efficacement à la réalisation de jeux vidéo innovants, tout en continuant à explorer et à repousser mes propres limites techniques.",
		callToActionLong: "Vous souhaitez travailler avec moi ou tester certaines de mes créations ?",
		footerText: "Designé & Développé à Lyon",
		footerCopyright: "2024 Julien Fabregoule"
        }
    };

    const langageToggle = document.querySelector('langage-toggle');
    const isEnglish = langageToggle.isEnglish(); // Vérifie si c'est en anglais

    let language = isEnglish ? 'en' : 'fr';
    let translation = translations[language] || {};

	document.getElementById('title').textContent = translation.title;
	document.getElementById('tagline').textContent = translation.tagline;
    document.getElementById('s1-about').textContent = translation.s1about;
	document.getElementById('s1-p1-about').textContent = translation.s1p1about;
	document.getElementById('s1-p2-about').textContent = translation.s1p2about;
	document.getElementById('s1-p3-about').textContent = translation.s1p3about;
	document.getElementById('s2-about').textContent = translation.s2about;
	document.getElementById('s2-p1-about').textContent = translation.s2p1about;
	document.getElementById('s2-p2-about').textContent = translation.s2p2about;
	document.getElementById('s2-p3-about').textContent = translation.s2p3about;
	document.getElementById('s3-about').textContent = translation.s3about;
	document.getElementById('s3-p1-about').textContent = translation.s3p1about;
	document.getElementById('call-to-action-long').textContent = translation.callToActionLong;
	document.getElementById('footer-text').textContent = translation.footerText;
	document.getElementById('footer-copyright').textContent = translation.footerCopyright;

    const handleLanguageChange = (e) => {
      language = e.detail.isEnglish ? 'en' : 'fr';  // Mise à jour de la langue
      translation = translations[language] || {};  // Mise à jour des traductions

      // Mise à jour dynamique du contenu
	document.getElementById('title').textContent = translation.title;
	document.getElementById('tagline').textContent = translation.tagline;
	document.getElementById('s1-about').textContent = translation.s1about;
	document.getElementById('s1-p1-about').textContent = translation.s1p1about;
	document.getElementById('s1-p2-about').textContent = translation.s1p2about;
	document.getElementById('s1-p3-about').textContent = translation.s1p3about;
	document.getElementById('s2-about').textContent = translation.s2about;
	document.getElementById('s2-p1-about').textContent = translation.s2p1about;
	document.getElementById('s2-p2-about').textContent = translation.s2p2about;
	document.getElementById('s2-p3-about').textContent = translation.s2p3about;
	document.getElementById('s3-about').textContent = translation.s3about;
	document.getElementById('s3-p1-about').textContent = translation.s3p1about;
	document.getElementById('call-to-action-long').textContent = translation.callToActionLong;
	document.getElementById('footer-text').textContent = translation.footerText;
	document.getElementById('footer-copyright').textContent = translation.footerCopyright;
    };

    // Attacher l'écouteur d'événements après que le composant est défini
    document.querySelector('langage-toggle').addEventListener('languagechange', handleLanguageChange);
  </script>
