---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout
	title="My Work | Jeanine White"
	description="Learn about Jeanine White's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Work"
				tagline="See my most recent projects below to get an idea of my past experience."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<script type="module" is:inline>

    const translations = {
        en: {
        title: "Test EN"
        },
        fr: {
        title: "Test FR"
        }
    };

    let language = 'en';  // Langue par défaut
    let translation = translations[language] || {};

    document.getElementById('title').textContent = translation.title;

    const handleLanguageChange = (e) => {
      language = e.detail.isEnglish ? 'fr' : 'en';  // Mise à jour de la langue
      translation = translations[language] || {};  // Mise à jour des traductions

      // Mise à jour dynamique du contenu
      document.getElementById('title').textContent = translation.title;
    };

    // Attacher l'écouteur d'événements après que le composant est défini
    document.querySelector('langage-toggle').addEventListener('languagechange', handleLanguageChange);
  </script>
